.border_0 {
    border-left: 0.1px solid #cccccc;
    border-top: 0.1px solid #cccccc;
    position: relative;
}

.border_1 {
    border: 0.1px solid red;
    position: relative;
}

.border_2 {
    border-bottom: 0.1px solid #cccccc;
    border-top: 0.1px solid red;
    border-left: 0.1px solid red;
    border-right: 0.1px solid red;
    position: relative;
}

.border_3 {
    border-bottom: 0.1px solid #cccccc;
    border-left: 0.1px solid red;
    border-right: 0.1px solid red;
    position: relative;
}

.border_4 {
    border-bottom: 0.1px solid red;
    border-left: 0.1px solid red;
    border-right: 0.1px solid red;
    position: relative;
}

.border_5 {
    border: 0.1px double red;
    position: relative;
}

.border_6 {
    border-bottom: 0.1px solid #cccccc;
    border-top: 0.1px double red;
    border-left: 0.1px double red;
    border-right: 0.1px double red;
    position: relative;
}

.border_7 {
    border-bottom: 0.1px solid #cccccc;
    border-left: 0.1px double red;
    border-right: 0.1px double red;
    position: relative;
}

.border_8 {
    border-bottom: 0.1px double red;
    border-left: 0.1px double red;
    border-right: 0.1px double red;
    position: relative;
}